In [83]:
#Hello World
print("Hello World")

Hello World

In [84]:
#Drawing a Shape
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [85]:
#Variables and Data Types
character_name = "Tom"
character_age = "50"
is_male = False
print("There was a man named " + character_name +",")
print("He was " + character_age + " years old. ")

character_name = "Mike"
print("He really liked the name " + character_name + ".")
print("But didn't like being " + character_age +".")

There was a man named Tom,
He was 50 years old.
He really liked the name Mike.
But didn't like being 50.

In [86]:
#Working with strings (1)
phrase = "Giraffe Academy"
print(phrase.upper().isupper())

True

In [87]:
#Working with strings (2)
phrase = "Giraffe Academy"
print(len(phrase))

15

In [88]:
#Working with strings (3)
phrase = "Giraffe Academy"
#         01234..
print(phrase[1])

i

In [89]:
#Working with strings (4)
phrase = "Giraffe Academy"
print(phrase.index("a"))

3

In [90]:
#Working with strings (5)
phrase = "Giraffe Academy"
print(phrase.replace("Giraffe", "Elephant"))

Elephant Academy

In [91]:
#Working with numbers (1)
print(-2.08484)

-2.08484

In [92]:
#Working with numbers (2)
print(3 * 4 + 5)

17

In [93]:
#Working with numbers (3)
print(3 * (4 + 5))

27

In [94]:
#Working with numbers (4)
print(10 % 3)

1

In [95]:
#Working with numbers (5)
my_num = 5
print(my_num)

5

In [96]:
#Working with numbers (6)
my_num = 5
print(str(my_num))

5

In [97]:
#Working with numbers (7) (Error)
my_num = 5
print(str(my_num) + " my favorite number")

5 my favorite number

In [98]:
#Working with numbers (7) (Error)
my_num = 5
print(my_num + " my favorite number")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Working with numbers (7)
my_num = 5
print(str(my_num) + " my favorite number")

5 my favorite number

In [ ]:
#Working with numbers (8)
my_num = -5
print(abs(my_num))

5

In [ ]:
#Working with numbers (9)
print(pow(4, 6))

4096

In [ ]:
#Working with numbers (10)
print(max(4,6))

6

In [ ]:
#Working with numbers (11)
print(min(4,6))

4

In [ ]:
#Working with numbers (12)
print(round(3.7))

4

In [ ]:
#Working with numbers (13)
from math import *
print(floor(3.7))

3

In [ ]:
#Working with numbers (14)
from math import *
print(ceil(3.7))

4

In [ ]:
#Working with numbers (15)
from math import *
print(sqrt(36))

6.0

In [ ]:
# Getting Input from users (1)
name = input("Enter your name: ")
print("Hello " + name + "!")

Hello Aditya!

In [ ]:
# Getting Input from users (2)
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello " + name + "! You are " + age)

Hello Aditya! You are 20

In [ ]:
#Building a Basic Calculator (Error)
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result = num1 + num2
print(result)

24

In [ ]:
#Building a Basic Calculator
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result = int(num1) + int(num2)
#use float for decimal
print(result)

6

In [ ]:
#Mad libs game
color=input("Enter a color")
plural_noun=input("Enter a Plural Noun: ")
celebrity=input("Enter a celebrity: ")
print("Roses are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

Roses are Laal
Sky are blue
I love Python

In [ ]:
#List (1)
friends = ["Sahil", "Soni", "Surya" ]
print(friends)

['Sahil', 'Soni', 'Surya']

In [ ]:
#List (2)
friends = ["Sahil", "Soni", "Surya" ]
#              0      1       2
print(friends[2])

Surya

In [ ]:
#List (3)
friends = ["Sahil", "Soni", "Surya" ]
print(friends[-2])

Soni

In [ ]:
#List (4)
friends = ["Sahil", "Soni", "Surya" ]
print(friends[1:])

['Soni', 'Surya']

In [ ]:
#List (5)
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
print(friends[1:4])

['Soni', 'Surya', 'Suryansh']

In [ ]:
#List (5)
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends[1] = "Joshi"
print(friends[1])

Joshi

In [ ]:
#List Functions
luck_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
print(friends)

['Sahil', 'Soni', 'Surya', 'Suryansh', 'Anant', 'Harshit']

In [ ]:
#List Functions (2)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.extend(lucky_numbers)
print(friends)

['Sahil', 'Soni', 'Surya', 'Suryansh', 'Anant', 'Harshit', 4, 8, 15, 16, 23, 42]

In [ ]:
#List Functions (3)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.append("Joshi")
print(friends)

['Sahil', 'Soni', 'Surya', 'Suryansh', 'Anant', 'Harshit', 'Joshi']

In [ ]:
#List Functions (4)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.insert(1, "Joshi")
print(friends)

['Sahil', 'Joshi', 'Soni', 'Surya', 'Suryansh', 'Anant', 'Harshit']

In [ ]:
#List Functions (5)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.remove("Soni")
print(friends)

['Sahil', 'Surya', 'Suryansh', 'Anant', 'Harshit']

In [ ]:
#List Functions (5)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.remove("Soni")
print(friends)

['Sahil', 'Surya', 'Suryansh', 'Anant', 'Harshit']

In [ ]:
#List Functions (4)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.clear()
print(friends)

[]

In [ ]:
#List Functions (5)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.pop()
print(friends)

['Sahil', 'Soni', 'Surya', 'Suryansh', 'Anant']

In [ ]:
#List Functions (6)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
print(friends.index("Anant"))

4

In [ ]:
#List Functions (6)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
print(friends.index("Anant"))

In [ ]:
#List Functions (7)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Surya", "Suryansh", "Anant", "Harshit" ]
print(friends.count("Surya"))

2

In [ ]:
#List Functions (8)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
friends.sort()
lucky_numbers.sort
print(luck_numbers)
print(friends)

[4, 8, 15, 16, 23, 42]
['Anant', 'Harshit', 'Sahil', 'Soni', 'Surya', 'Suryansh']

In [ ]:
#List Functions (9)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]
lucky_numbers.reverse()
print(lucky_numbers)

[42, 23, 16, 15, 8, 4]

In [ ]:
#List Functions (10)
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Sahil", "Soni", "Surya", "Suryansh", "Anant", "Harshit" ]

friends2 = friends.copy()
print(friends2)

['Sahil', 'Soni', 'Surya', 'Suryansh', 'Anant', 'Harshit']

In [ ]:
#Tuples
coordinates = (4, 5)
print(coordinates[1])
#Tuples can't be modified

5

In [ ]:
#Tuples (2)
coordinates = [(4, 5), (6,7), (80,34)]
print(coordinates[1])

(6, 7)

In [ ]:
#Functions
def say_hi():
    print("Hello User")
print("Top")
say_hi()
print("Bottom")

Top
Hello User
Bottom

In [ ]:
#Functions (2)
def say_hi(name, age):
    print("Hello " + name + " You are " + age )
say_hi("Sahni", "20")

Hello Sahni You are 20

In [ ]:
#Return Statement (Error)
def cube(num):
    num*num*num
print(cube(3))

None

In [ ]:
#Return Statement
def cube(num):
    return num*num*num
print(cube(3))

27

In [ ]:
#Return Statement (2)
def cube(num):
    return num*num*num

result = cube(3)
print(result)

27

In [ ]:
#If Satements
is_male = True

if is_male:
    print("You are a male")

You are a male

In [ ]:
#If Satements (2)
is_male = False

if is_male:
    print("You are a male")

In [ ]:
#If Satements (3)
is_male = False

if is_male:
    print("You are a male")
else:
    print("You are not a male")

You are not a male

In [ ]:
#If Satements (4)
is_male = True
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither male nor tall")

You are a male or tall or both

In [ ]:
#If Satements (5)
is_male = False
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither male nor tall")

You are a male or tall or both

In [ ]:
#If Satements (6)
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither male nor tall")

You are neither male nor tall

In [ ]:
#If Satements (7)
is_male = True
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both")
elif is_male and not(is_tall):
    print("You are short male")
elif not(is_male) and is_tall:
    print("You are not a male but are tall")
else:
    print("You are neither male nor tall")

You are a male or tall or both

In [ ]:
#If Satements (8)
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a male or tall or both")
elif is_male and not(is_tall):
    print("You are short male")
elif not(is_male) and is_tall:
    print("You are not a male but are tall")
else:
    print("You are neither male nor tall")

You are short male

In [ ]:
#If Satements (9)
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both")
elif is_male and not(is_tall):
    print("You are short male")
elif not(is_male) and is_tall:
    print("You are not a male but are tall")
else:
    print("You are neither male nor tall")

You are neither male nor tall

In [ ]:
#If Satements (9)
is_male = False
is_tall = True

if is_male or is_tall:
    print("You are a male or tall or both")
elif is_male and not(is_tall):
    print("You are short male")
elif not(is_male) and is_tall:
    print("You are not a male but are tall")
else:
    print("You are neither male nor tall")

You are a male or tall or both

In [ ]:
#If Statement & Comparisons
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 <= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3
print(max_num(300, 40 ,5))

5

In [ ]:
#Building a better calculator
num1 = float(input("Enter first number: "))
op = input(("Enter operator: "))
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1+num2)
elif op == "-":
    print(num1-num2)
elif op == "*":
    print(num1*num2)
elif op == "/":
    print(num1/num2)
else:
    print("Invalid operator")

489.0

In [ ]:
#Dictionaries
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March"
}
print(monthConversions["Mar"])

March

In [ ]:
#Dictionaries (2)
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March"
}
print(monthConversions.get("Jan"))
#U CAN PUT ANY KEY SUCH AS JAN CAN BE STORED AS 1

January

In [ ]:
#While loop
i = 1
while i <= 10:
    print(i)
    i += 1
print("Done with loop")

1
2
3
4
5
6
7
8
9
10
Done with loop

In [101]:
#Building a guessing game
secret_word = "giraffe"
guess = ""

while guess != secret_word:
    guess= input("Enter guess:")
print("You win!")

You win!

In [106]:
#Building a guessing game (2)
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False
while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess= input("Enter guess: ")
        guess_count += 1
    else:
        out_of_guesses
if out_of_guesses:
    print("Out of Guesses, You Lose!")
else:
    print("You win!")

You win!

In [107]:
#For loops
for letter in "Giraffe Acdemy":
    print(letter)

G
i
r
a
f
f
e

A
c
d
e
m
y

In [109]:
#For loops (2)
friends = ["Surya", "Sahil", "Harshit"]
for friend in friends:
    print(friend)

Surya
Sahil
Harshit

In [110]:
#For loops (3)
friends = ["Surya", "Sahil", "Harshit"]
for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [111]:
#For loops (4)
friends = ["Surya", "Sahil", "Harshit"]
for index in range(3, 10):
    print(index)

3
4
5
6
7
8
9

In [ ]:
#For loops (5)
friends = ["Surya", "Sahil", "Harshit"]
len(f)+"

'0"
for index in range(3, 10):
    print(index)